### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings
*.log

### Build Output ###
build/
dist/
*.jar
*.class

### OS ###
.DS_Store
Thumbs.db
